{% extends "common/templates/layout.njk" %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Thanks for your feedback - GOV.UK Pay
{% endblock %}

{% set section = 'support' %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        {
          text: "GOV.UK Services",
          href: "https://www.gov.uk/service-toolkit#gov-uk-services"
        },
        {
          text: "GOV.UK Pay",
          href: "https://www.payments.service.gov.uk/"
        },
        {
          text: "Support",
          href: "/"
        }
      ]
    })
  }}
  {% include "common/templates/includes/flash.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Thanks for your feedback
    </h1>
    <p class="govuk-body-l">The GOV.UK Pay team will reply to your query in one working day.</p>

    <p class="govuk-body">Read more about <a class="govuk-link" href="https://www.payments.service.gov.uk/features/">our roadmap and features</a>.</p>
  </div>
</div>
{% endblock %}
