{% extends "common/templates/layout.njk" %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Support - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Support
    </h1>
    <p class="govuk-body-l">GOV.UK Pay provides 24-hour support for live accounts.</p>
    
    <form method="post" action="/" >
      {{
        govukRadios({
          name: "support-type",
          fieldset: {
            legend: {
              text: "How can we help you?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "somethings-wrong",
              text: "There’s a problem with my live service"
            },
            {
              value: "help",
              text: "I need help using GOV.UK Pay"
            }
          ]
        })
      }}
      {{
        govukButton({
          text: "Continue"
        })
      }}
    </form>

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Ask a question or give feedback</h3>
    <p class="govuk-body"><a class="govuk-link" href="support/ask-a-question">Contact the GOV.UK Pay team</a> to ask a question or give feedback. You can also talk to us on the cross-government Slack channel #govuk-pay in the UK Government Digital workspace.</p>
  </div>
</div>
{% endblock %}
