{% extends "common/templates/layout.njk" %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% from "components/textarea/macro.njk" import govukTextarea %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Report a problem with my live service - Support - GOV.UK Pay
{% endblock %}

{% set section = 'support' %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        {
          text: "GOV.UK Services",
          href: "https://www.gov.uk/service-toolkit#gov-uk-services"
        },
        {
          text: "GOV.UK Pay",
          href: "https://www.payments.service.gov.uk/"
        },
        {
          text: "Support",
          href: "/"
        }
      ]
    })
  }}
  {% include "common/templates/includes/flash.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Report a problem with my live service
    </h1>

    {{
      govukInsetText({
        html: "Check our <a class='govuk-link' href='https://payments.statuspage.io/'>system status page</a> to see if there are any known issues with GOV.UK Pay."
      })
    }}

    <form method="post">
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}"/>
      {{
        govukTextarea({
          name: "message",
          id: "message",
          rows: "8",
          label: {
            text: "Describe the problem"
          },
          hint: {
            text: "Do not include personal or financial information, passwords or payment card details."
          },
          value: session.message,
          errorMessage: error[0].fields.message.message
        })
      }}

      {{
        govukInput({
          label: {
            text: "Name"
          },
          id: "name",
          name: "name",
          errorMessage: error[0].fields.name.message,
          value: session.name,
          attributes: {
            autocomplete: "name"
          }
        })
      }}

      {{
        govukInput({
          label: {
            text: "Email"
          },
          id: "email",
          name: "email",
          type: "email",
          value: session.email,
          errorMessage: error[0].fields.email.message,
          attributes: {
            autocomplete: "email"
          }
        })
      }}

      {{
        govukButton({
          text: "Submit"
        })
      }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Read our documentation</h3>
    <p class="govuk-body">The <a class="govuk-link" href="https://docs.payments.service.gov.uk/#gov-uk-pay-documentation">GOV.UK Pay documentation</a> includes guidance on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://docs.payments.service.gov.uk/troubleshooting/#troubleshooting">troubleshooting</a> common problems</li>
      <li><a class="govuk-link" href="https://docs.payments.service.gov.uk/api_reference/#api-error-codes">API error codes</a></li>
      <li><a class="govuk-link" href="https://docs.payments.service.gov.uk/support_contact_and_more_information/#incident-severity">how we classify support incidents</a></li>
      <li>our <a class="govuk-link" href="https://docs.payments.service.gov.uk/support_contact_and_more_information/#hours-of-service">hours of service</a></li>
    </ul>
  </div>
</div>
{% endblock %}
